body{
    background-color: aquamarine;
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}
h1{
color: rgb(82, 8, 152);
font-size: 40px;
}
p{
font-size: 25px
}

header{
border-bottom:burlywood;
margin:2px;
padding: 10px;
color: yellowgreen;
}

